@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #222;
    color: #eaeaea;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #eaeaea;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s* var(--i));
}

.burger-toggle {
    display: none;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu span {
    height: 3px;
    width: 25px;
    background: #eaeaea;
    margin-bottom: 4px;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 18px;
    color: #eaeaea;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s* var(--i));
}

.navbar a:hover,
.navbar a:active {
    color: #1743e3;
}

.user a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-left: auto;
    left: 100%;
}

.user a:hover {
    color: #eaeaea;
}

.user a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: blue;
    z-index: -1;
    transition: .5s;
}

.user a:hover::before {
    width: 100%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 40px;
    color: #1743e3;
    opacity: 1;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background: #1743e3;
    border: 2px solid #1743e3;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.btn:hover {
    background: transparent;
    color: #1743e3;
}

.home-img {
    position: relative;
    right: -15%;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #1743e3;
    border-radius: 50%;
    font-size: 20px;
    color: #1743e3;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #eaeaea;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1743e3;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-img .rhombus {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eaeaea;
    border: 25px solid #1743e3;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, .2);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.6s;
}

.home-img .rhombus img {
    position: absolute;
    top: 110px;
    left: -200px;
    max-width: 620px;
    transform: rotate(-45deg);
    opacity: 0;
    animation: car 1s ease forwards;
    animation-delay: 2s;
}

.home .rhombus2 {
    position: absolute;
    top: -25%;
    right: -25px;
    width: 400px;
    height: 400px;
    background: #1743e3;
    transform: rotate(45deg);
    z-index: -1;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
}

/*KEYFRAMES ANIMATION*/
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes car {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        padding: 10px 0;
    }

    .navbar a {
        margin: 10px 0;
        opacity: 1;
        animation: none;
    }

    .burger-toggle:checked ~ .navbar {
        display: flex;
    }
}
